<div class="panel panel-primary spacer3">
	<div class="panel-heading">
		<h1 class="panel-title">Got the Id: {{db._id}}</h1>
	</div>
	<div class="panel-body">
		<p>User details</p>
		<p>Name: {{db.name}}</p>
		<p>Username: {{db.Username}}</p>
		<p>Password: {{db.Password}}</p>
		<a href="/">Back</a>
	</div>
</div>
