<form class="form-horizontal" id="registerHere" method='post' action='/authenticate'>
	<fieldset class="spacer3">
		<legend>Login</legend>
		<div class="control-group">
			<label class="control-label">Username</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="username" name="username" rel="popover" data-content="Enter your username" data-original-title="Username">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" name="password" rel="popover" data-content="Enter your password" data-original-title="Password">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label"></label>
			<div class="controls">
				<button type="submit" class="btn btn-success" >Login</button>
			</div>
		</div>
	</fieldset>
</form>